<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <connectionStrings>
    <add name="userLogin" connectionString="Data Source=e-commerce-clone-practice.czmkb4udcq6o.us-east-2.rds.amazonaws.com; Initial Catalog = ECommerce ; Persist Security Info=false; User ID=yuyangchen0122;Password=a123123q45" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--<add key="GetUserInfo.WebService" value="http://localhost:54322/WebService.asmx"/>-->
  <add key="GetUserProfile.WebService" value="http://localhost:50648/WebService.asmx"/>
  </appSettings>
  <!--<system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type"/>
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>-->
</configuration>